<div>
    <br>
    <h2 style="text-align:center; color: rgb(166, 43, 32)">WOULD YOU LIKE TO JOIN US?</h2>
    <center>
        <button class="btn btn-outline-primary" onclick="window.location.href='http://www.vortexntnu.no/join-us';">Click here!</button>
        <h6> Remember to visit our <a href="https://www.facebook.com/VortexNTNU/">facebook page</a> and <a href="https://www.instagram.com/vortexntnu/">instagram</a> to get the latest updates!</h6>
    </center>
    <br>
</div>